/**
* Added by - Ashish Dewangan on 12-06-2023
* Reason - Create to have styling details of menu details page
*/
@import "../../App.css";

@font-face {
  font-family: "MyFont";
  src: url("../../assets/font/Carlito-Bold.ttf") format("opentype");
}

.container {
  width: 100%;
  /* commented and modified by suman sahu on 17/06/2023 
     reason - adjust page according to sidebar, header and footer in the full screen*/
  /*   overflow: auto; */
  overflow: scroll;
  height: 86.5vh;
  background-color: white;
  /* margin-bottom: 9vh; */
  /* end of code by - suman sahu on 17/06/2023 */
}

.pageTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 10px;
  margin-top: 10px;
}

.pageTitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.menuListSection {
  min-height: auto;
  margin: auto 10px;
  margin-top: 10px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.tableContainer {
  width: 100%;
  padding: 4px;
  background-color: #efefef;
}

.tableHeadingContainer {
  background-color: white;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cad0d0;
  font-family: "MyFont";
  padding: 3px;
}

.tableDataContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  border-bottom: 1px solid #f2f2f2;
  padding: 3px;
}
.tableData {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-shadow: var(--ds-shadow-raised, 0 1px 2px 0 rgba(9, 30, 66, 0.25));
}

.commonColumnTitle {
  width: var(--common-column-width);
  min-width: var(--common-column-min-width);
  padding: 5px 0px;
  height: 100%;
  display: var(--common-column-display);
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.commonColumnData {
  width: var(--common-column-width);
  min-width: var(--common-column-min-width);
  padding: 5px 0px;
  height: 100%;
  display: var(--common-column-display);
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/** 
  Added by - Ashish Dewangan on 16-06-2023
  Reason - To add styling for searchbox
*/
.searchBox{
    width: 60%;
}
/** 
  End of code addition by - Ashish Dewangan on 16-06-2023
  Reason - To add styling for searchbox
*/
.menuImage{
    width:45px;
    height:45px;
    border-radius: 5px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.primaryButton {
  background-color: #51c14b;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s;
  width: fit-content;
}

.primaryButton:hover {
  cursor: pointer;
  background-color: #1f871b;
}

.secondaryButton {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s;
}

.secondaryButton:hover {
  cursor: pointer;
  background-color: rgb(202, 19, 19);
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.yesIcon {
  color: green;
  width: 20px;
  height: 20px;
}

.noIcon {
  color: red;
  width: 20px;
  height: 20px;
}

.sortingIcon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}


/* Added by ROhan kansari - 22/6/23
   Reason - To design dropdown container  */

/*Adding pagination content into flex for responsive manage  */
.paginationContent{
  display: flex;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #fff;
  color: black;
  padding: 0 10px;
  display: flex;
  border-radius: 4px;
  border: 1px solid grey;
  font-size: 14px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: fit-content;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  bottom: 25px;
  font-size: 14px;
  background-color: #f9f9f9;
  min-width: max-content;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding: 4px 10px;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown_content span {
  color: black;
  padding: 4px 6px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content span:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown_content {
  display: block;
} */

.open{
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #f2f2f2;
}

/* End of code - 22/6/23 - ROhan kansari */

@media screen and (max-width: 4000px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 300px;
    --common-column-min-width: 300px; */
    --common-column-width: 15vw;
    --common-column-min-width: 15vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }

}

@media screen and (max-width: 1250px) {
  .container {
    --common-column-width: 15vw;
    --common-column-min-width: 15vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }
  /** 
  Added by - Ashish Dewangan on 16-06-2023
  Reason - To add styling for searchbox
*/
  .searchBox{
    width: 100%;
}
/** 
  End of code addition by - Ashish Dewangan on 16-06-2023
  Reason - To add styling for searchbox
*/
}

@media screen and (max-width: 1150px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 270px;
    --common-column-min-width: 270px; */
    --common-column-width: 15vw;
    --common-column-min-width: 15vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }
}

@media screen and (max-width: 1060px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 220px;
    --common-column-min-width: 220px; */
    --common-column-width: 15vw;
    --common-column-min-width: 15vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }
}

@media screen and (max-width: 950px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 200px;
    --common-column-min-width: 200px; */
    --common-column-width: 15vw;
    --common-column-min-width: 15vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }
}

@media screen and (max-width: 850px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 190px;
    --common-column-min-width: 190px; */
    --common-column-width: 15vw;
    --common-column-min-width: 15vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }
}

@media screen and (max-width: 770px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 180px;
    --common-column-min-width: 180px; */
    --common-column-width: 20vw;
    --common-column-min-width: 20vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }
}

/* added by suman sahu on 17/06/2023 
   reason - adjust page according to sidebar, header and footer in the responsive*/
@media screen and (max-width: 768px) {
  .container {
    height: 73vh;
  }

  /* Modified by ROhan kansari - 1/7/23
     Reason - To align page list in mobile view also */
     .paginationContent{
      flex-direction: row;
    justify-content: space-around;
    gap: 10px;
  }
}
/* end of code by - suman sahu on 17/06/2023 */

@media screen and (max-width: 720px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 170px;
    --common-column-min-width: 170px; */
    --common-column-width: 20vw;
    --common-column-min-width: 20vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }

  .tableHeadingContainer {
    justify-content: space-around;
    gap: 10px;
  }

  .tableDataContainer {
    justify-content: space-around;
  }
}

@media screen and (max-width: 600px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 120px;
    --common-column-min-width: 120px; */
    --common-column-width: 20vw;
    --common-column-min-width: 20vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }

  .tableHeadingContainer {
    justify-content: space-around;
    padding-left: 3px;
    padding-right: 3px;
  }

  .tableDataContainer {
    justify-content: space-around;
    padding-left: 3px;
    padding-right: 3px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 80px;
    --common-column-min-width: 80px; */
    --common-column-width: 20vw;
    --common-column-min-width: 20vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }

  .tableHeadingContainer {
    justify-content: space-around;
  }

  .tableDataContainer {
    justify-content: space-around;
  }
}
@media screen and (max-width: 430px) {
  .container {
    /* commented and modified by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
  	/* --common-column-width: 100px;
    --common-column-min-width: 100px; */
    --common-column-width: 20vw;
    --common-column-min-width: 20vw;
    /* End of code modification by - Ashish Dewangan on 14-06-2023
       Reason - To make width responsive */
    --common-column-display: unset;
  }

  .tableHeadingContainer {
    justify-content: space-around;
  }

  .tableDataContainer {
    justify-content: space-around;
  }
  .commonColumnTitle {
    flex-direction: column;
  }
}
